@{
    ViewBag.Landing = true;
}

@section preheader {
    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">BeeBack</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Parce que vos enfants sont notre priorité.</h3>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="@Url.Action("Index", "Activities")" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s">
                        <span class="network-name">Trouver un co-voiturage</span>
                    </a>
                </li>
                <li id="download">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <a href="#whatis" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s">
                        <span class="network-name">Comment cela fonctionne t'il ?</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down ">
                @* ReSharper disable once Html.IdNotResolved *@
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll" src="~/img/icon/circle.png" alt=""> </a>
            </div>
        </div>
    </div>

}

@section navbar{

    <ul class="nav navbar-nav">
        <li class="menuItem"><a href="#whatis">Introduction</a></li>
        <li class="menuItem"><a href="#screen">Application</a></li>
        <li class="menuItem"><a href="#team">L'équipe</a></li>
        <li class="menuItem"><a href="#contact">Contact</a></li>
        <li role="separator" class="divider"></li>
    </ul>
}

<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>Comment cela fonctionne t'il ?</h2>
        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="~/img/icon/search.svg" alt="Generic placeholder image">
                <h3>Recherchez une activité</h3>
                <p class="lead">Recherchez ou créez une activité à laquelle votre enfant participe.</p>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="~/img/icon/heart.svg" alt="Generic placeholder image">
                <h3>Créer votre cercle de confiance</h3>
                <p class="lead">Vous voulez le meilleur pour vos enfants. Ne choisissez que parmis vos chauffeurs de confiance.</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="~/img/icon/tactics.svg" alt="Generic placeholder image">
                <h3>Organisez-vous</h3>
                <p class="lead">Organisez le co-voiturage pour les différentes activités auxquelles vous vous êtes abonnées.</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

    </div>
</div>

<!-- Screenshot -->
<div id="screen" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
                <h2>L'application mobile</h2>
                <p class="lead" style="margin-top:0">Gérer vos trajets où que vous soyez.</p>
            </div>
        </div>
        <div class="row wow bounceInUp">
            <div id="owl-demo" class="owl-carousel">

                <a href="~/img/slide/1.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/1.png" alt="Owl Image">
                    </div>
                </a>

                <a href="~/img/slide/2.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/2.png" alt="Owl Image">
                    </div>
                </a>

                <a href="~/img/slide/3.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/3.png" alt="Owl Image">
                    </div>
                </a>

                <a href="~/img/slide/1.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/1.png" alt="Owl Image">
                    </div>
                </a>

                <a href="~/img/slide/2.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/2.png" alt="Owl Image">
                    </div>
                </a>

                <a href="~/img/slide/3.png" class="image-link">
                    <div class="item">
                        <img class="img-responsive img-rounded" src="~/img/slide/3.png" alt="Owl Image">
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

<div class="content-section-c ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center white">
                <h2>Ne loupez rien !</h2>
                <p class="lead" style="margin-top:0">Restez au courant de nos dernières nouveautés</p>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="mockup-content">
                    <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                        <button type="button"><span>Abonnez-vous à notre newsletter</span></button>
                        <div class="morph-content">
                            <div>
                                <div class="content-style-form content-style-form-4 ">
                                    <h2 class="morph-clone">Abonnez-vous à notre newsletter</h2>
                                    <form>
                                        <p><label>Votre adresse email</label><input type="text" /></p>
                                        <p><button>Abonnez moi</button></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>>
    </div>
</div>

<!-- Team -->
<div id="team" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>L'équipe</h2>
                <p class="lead" style="margin-top: 0">Remake Studio</p>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-desktop fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Stéphane Vidouse </h3>
                        <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-picture-o fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Matthieu Vandenhende </h3>
                        <p> Nullam mo arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tworow">
            <div class="col-sm-6  block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-magic fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Renaud Dumont </h3>
                        <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-heart fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Kévin Rapaille </h3>
                        <p> Nullam mo arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="content-section-b">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Contactez-nous</h2>
                <p class="lead" style="margin-top:0">Nous adorons les jolis mots.</p>
            </div>

            <form role="form" action="" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">Votre nom</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputEmail">Votre Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" value="Envoyer" class="btn wow tada btn-embossed btn-primary pull-right">
                </div>
            </form>

            <hr class="featurette-divider hidden-lg">
            <div class="col-md-5 col-md-push-1 address">
                <address>
                    <h3>Adresse du bureau</h3>
                    <p class="lead">
                        <a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">
                            NTWRK Office<br>
                            Rue de la terre du Prince, 17<br />
                            7000 Mons, Belgium
                        </a>
                    </p>
                </address>

                <h3>Réseaux sociaux</h3>
                <li class="social">
                    <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
                    <a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>
                    <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
                    <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
                </li>
            </div>
        </div>
    </div>
</div>

